html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.2);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:40%;
    padding:5vmin;
    position:absolute;
    text-align:left;
    top:50%;
    transform:translate(-50%, -50%);
  }

  .content1 {
    background-color:rgba(255,255,255,.2);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:40%;
    padding:5vmin;
    position:absolute;
    text-align:left;
    top:105%;
    transform:translate(-50%, -50%);
  }

  .content2 {
    background-color:rgba(255,255,255,.2);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:40%;
    padding:5vmin;
    position:absolute;
    text-align:left;
    top:154.5%;
    transform:translate(-50%, -50%);
  }
  
  .content3 {
    background-color:rgba(255,255,255,.2);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:40%;
    padding:5vmin;
    position:absolute;
    text-align:left;
    top:217.5%;
    transform:translate(-50%, -50%);
  }


  .content4 {
    background-color:rgba(255,255,255,.2);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:40%;
    padding:5vmin;
    position:absolute;
    text-align:left;
    top:284%;
    transform:translate(-50%, -50%);
  }
  .content5 {
    background-color:rgba(255,255,255,.2);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:40%;
    padding:5vmin;
    position:absolute;
    text-align:left;
    top:344%;
    transform:translate(-50%, -50%);
  }


  


  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }



  #canvas {
    position:fixed;
    width:10%;
    height:10%;
    background-color:transparent;
    margin: 1em auto;
    right:0%;
}
.ball {
    background-color: black;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
}



  #wrapper{
    width: 100%;
    max-width: 725px;
    margin: 0px auto;
}
.gears{
  width:20%;
  display: inline-block;
}
.gears:first-child{
  margin-right: 3%;
}
.gears-container{
    width:150px; 
    height: 150px;
    font-size:24px;
    padding: 9%;
    position: relative; 
    margin: 0px auto;
}

.gear-rotate{
	width: 2em;
	height: 2em;
  top: 50%; 
  left: 50%; 
  margin-top: -1em;
  margin-left: -1em;
	background: #13180B;
	position: absolute;
	border-radius: 1em;
	-webkit-animation: 1s gear-rotate linear infinite;
	-moz-animation: 1s gear-rotate linear infinite;
	animation: 1s gear-rotate linear infinite;
}
.gear-rotate-left{
  margin-top: -2.2em;
  top: 50%;
  width: 2em;
	height: 2em;
	background: #13180B;
	position: absolute;
	border-radius: 1em;
  -webkit-animation: 1s gear-rotate-left linear infinite;
  -moz-animation: 1s gear-rotate-left linear infinite;
  animation: 1s gear-rotate-left linear infinite;
}

.gear-rotate::before, .gear-rotate-left::before {
	width: 2.8em;
	height: 2.8em;
	background: 
    -webkit-linear-gradient(0deg,transparent 39%,#13180B 39%,#13180B 61%, transparent 61%),
    -webkit-linear-gradient(60deg,transparent 42%,#13180B 42%,#13180B 58%, transparent 58%),
    -webkit-linear-gradient(120deg,transparent 42%,#13180B 42%,#13180B 58%, transparent 58%);
	background: 
    -moz-linear-gradient(0deg,transparent 39%,#13180B 39%,#47EC19 61%, transparent 61%),
    -moz-linear-gradient(60deg,transparent 42%,#13180B 42%,#13180B 58%, transparent 58%),
    -moz-linear-gradient(120deg,transparent 42%,#13180B 42%,#13180B 58%, transparent 58%);
	background: 
    -o-linear-gradient(0deg,transparent 39%,#13180B 39%,#13180B 61%, transparent 61%),
    -o-linear-gradient(60deg,transparent 42%,#13180B 42%,#13180B 58%, transparent 58%),
    -o-linear-gradient(120deg,transparent 42%,#47EC19 42%,#13180B 58%, transparent 58%);
	background: -ms-linear-gradient(0deg,transparent 39%,#13180B 39%,#13180B 61%, transparent 61%),-ms-linear-gradient(60deg,transparent 42%,#13180B 42%,#13180B 58%, transparent 58%),-ms-linear-gradient(120deg,transparent 42%,#13180B 42%,#13180B 58%, transparent 58%);
	background: 
      linear-gradient(0deg,transparent 39%,#13180B 39%,#13180B 61%, transparent 61%),
    linear-gradient(60deg,transparent 42%,#13180B 42%,#13180B 58%, transparent 58%),
    linear-gradient(120deg,transparent 42%,#13180B 42%,#13180B 58%, transparent 58%);
	position: absolute;
	content:"";
	top: -.4em;
	left: -.4em;
	border-radius:1.4em;
}
.gear-rotate::after, .gear-rotate-left::after {
	width: 1em;
	height: 1em;
	background: #c5fc44;
	position: absolute;
	content:"";
	top: .5em;
	left: .5em;
	border-radius: .5em;
}

/*
 * Keyframe Animations 
 */ 

@-webkit-keyframes gear-rotate {
  0% { 
    -webkit-transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(-180deg); 
  }
}

@-moz-keyframes gear-rotate {
  0% { 
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(-180deg); 
  }
}

@keyframes gear-rotate {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(-180deg); 
  }
}

@-webkit-keyframes gear-rotate-left {
 0% {
   -webkit-transform: rotate(30deg); 
  }
  100% {
    -webkit-transform: rotate(210deg);
  }
}

@-moz-keyframes gear-rotate-left {
 0% { 
   -webkit-transform: rotate(30deg); 
  }
  100% { 
    -webkit-transform: rotate(210deg);
  }
}

@keyframes gear-rotate-left {
 0% { 
   -webkit-transform: rotate(30deg); 
  }
  100% { 
    -webkit-transform: rotate(210deg);
  }
}








.glow-on-hover {
  width: 20%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background:transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff6600, #fffb00, #00e1ff, #00ff2a, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color:#131415;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:#131415;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
